<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Noticias</ion-title>
    </ion-toolbar>
</ion-header>
<!-- fullscreen class="ion-padding" -->
<ion-content [fullscreen]="true">

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Noticias</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list-header>Noticias Recientes</ion-list-header>
    <ion-list *ngFor="let noticia of noticias">

        <ion-item detail [routerLink]="['/infonoticia',noticia.id,noticia.title,noticia.imagen,noticia.date,noticia.content]">
            <!-- <ion-item detail (click)="FullNoticia(noticia)"> -->
            <ion-avatar slot="start">
                <img src="{{noticia.imagen}}" />
            </ion-avatar>
            <ion-label>
                <h2>{{noticia.title}}</h2>
                <!-- <h3>I'm a big deal</h3> -->
                <p>Fecha: {{noticia.date}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <!-- <app-tab></app-tab> -->

</ion-content>

<!-- <app-tab></app-tab> -->