<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="descuento">
    <img src="../../../assets/img/undraw_discount_d-4-bd (2).svg" alt="">
  </div>

  <div class="container">

    <h2>Descuentos</h2>

    <ion-item>
      <ion-label size="large" class="">
          <b>Plan funeral</b>
          <p>
            2022
          </p>
        </ion-label>
        <ion-label slot="end" class="ion-text-wrap">
          <b>Abril</b>
          <p>
            <ion-badge color="danger">-2,000.00</ion-badge>
          </p>
        </ion-label>
    </ion-item>

    <ion-item>
      <ion-label size="large" class="">
        <b>Orden de compra</b>
        <p>
          2022
        </p>
      </ion-label>
      <ion-label slot="end" size="large" class="ion-text-wrap">
        <b>
          <ion-badge color="danger">-1,708.29</ion-badge>
        </b>
        <p>
          Abril
        </p>
      </ion-label>
    </ion-item>

  </div>

</ion-content>
