<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/preguntas" color="verde"></ion-back-button>
    </ion-buttons>
    <ion-title>Ayuda</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="verde"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ayuda</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text>
    <h1>{{titulo}}</h1>
  </ion-text>

  <ion-text>
    <h4>{{subtitulo}}</h4>
  </ion-text>

  <ion-text>
    <p>
      {{contenido}}
    </p>
  </ion-text>

  <ion-text class="ion-text-center">
    <h3>
      Valora Nuestra Ayuda.
    </h3>
  </ion-text>

  <ion-range min="1" max="5" pin color="amarillo">
    <ion-icon slot="start" size="small" name="star-outline"></ion-icon>
    <ion-icon slot="end" size="large" name="star-outline"></ion-icon>
  </ion-range>

</ion-content>