<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ayuda"></ion-back-button>
    </ion-buttons>
    <ion-title>Ayuda</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ayuda</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list-header>
    <ion-label>Preguntas Frecuentes</ion-label>
  </ion-list-header>

  <ion-list *ngFor="let pregunta of datos">
    <ion-item detail (click)="abrirPregunta(pregunta)">
      <ion-icon slot="start" name="reader-outline"></ion-icon>
      <ion-label>{{pregunta.titulo}}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>