<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/noticia"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Info Noticia</ion-title>
    </ion-toolbar>
</ion-header>
<!-- fullscreen class="ion-padding" -->
<ion-content [fullscreen]="true" class="ion-padding" *ngFor="let notic of NoticiaOne">

    <ion-label color="verde">
        <h1 class="bold text-center">{{notic.TITLE}}</h1>
        <p class="tit-not text-center">{{notic.DATE}}</p>
    </ion-label>
    <ion-img src="{{notic.IMAGEN}}" class="img-center"></ion-img>
    <!-- <ion-text color="amarillo">
    <h1>Celebra con nosotros el mes de la Patria</h1>
  </ion-text>
  <ion-text color="dark">
    <p>The quick brown fox jumps over the lazy dog</p>
  </ion-text> -->
    <ion-text color="dark">
        <p>
            {{notic.CONTENT}}
        </p>
    </ion-text>
</ion-content>