// .img-center{
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
.tit-not{
    padding-bottom: 10px;
}
.bold{
    font-weight: bold;
}
.text-center{
    text-align: center;
}