<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" [fullscreen]="true">

  <div class="logo-login">
    <ion-img src="../../assets/img/Logo-copdgi.png"></ion-img>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" class="form">
    <ion-list lines="none">
      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input name="user" type="number" placeholder="Cédula" formControlName="usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="key-outline"></ion-icon>
        <ion-input name="pass" type="password" placeholder="Contraseña" formControlName="clave"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" color="verde">INICIAR SESIÓN</ion-button>

    <ion-button expand="block" fill="outline" class="btn-log" color="azul" [routerLink]="['/recuperar']">¿Problemas
      Para Iniciar Sesión?
    </ion-button>

  </form>

  <!-- <ion-button expand="block" fill="outline">Outline + Block</ion-button> -->

</ion-content>