ion-avatar{
    margin: 0 auto;
    width: 35%;
    height: auto;
}

ion-text{
    h1{
        font-weight: 700;
    }
}

ion-text{
    h2{
        font-weight: bold;
    }
}

.btn-change {
    margin-top: 14px;
    margin-bottom: 14px;
}