ion-card{
    background: linear-gradient(90deg, var(--ion-color-verde-tint) 10%, var(--ion-color-verde) 100%);
    box-shadow: 0 1px 10px var(--ion-color-light);
    color:white;
    height: 25vh;
    width: 95%;

    

    

}
ion-item{
    background: linear-gradient(90deg, var(--ion-color-verde-tint) 10%, var(--ion-color-verde) 100%);
}