<ion-header class="ion-no-border">
  
  <!-- <ion-button fill="clear" color="dark">
    <ion-menu-button></ion-menu-button>
  </ion-button> -->
  <ion-buttons>
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>

</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
      
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <h3>John Doe</h3>
        <p>Dec 10, 2019</p>
      </ion-label>
      
      
    </ion-card-header>

    <ion-card-content>

    </ion-card-content>
    
  </ion-card>

</ion-content>
