<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="solicitud">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Solicitud</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacto">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Whatsapp">
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-label>Whatsapp</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>