<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <ion-text color="verde">
    <h1>Buzón De Sugerencias</h1>
  </ion-text>

  <ion-text color="verde">
    <h3>Consejo De Vigilancia</h3>
  </ion-text>

  <ion-text color="dark" class="ion-text-justify">
    <h5>Tu opinión es importante. La información suministrada será manejada de manera confidencial. Por favor, completa
      esta ficha!</h5>
  </ion-text>

  <!-- <ion-label position="stacked">Sugerencia</ion-label>
  <ion-textarea placeholder="Por favor, detalla la infomación"></ion-textarea> -->

  <form action="" class="form">

    <!-- <ion-list>

      <ion-item>
        <ion-label position="stacked">Sugerencia</ion-label>
        <ion-textarea placeholder="Por favor, detalla la infomación"></ion-textarea>
      </ion-item>

    </ion-list> -->

    <ion-label position="stacked">Sugerencia</ion-label>
    <ion-textarea placeholder="Por favor, detalla la infomación"></ion-textarea>

    <ion-button expand="block" type="submit" color="verde">ENVIAR</ion-button>
  </form>
</ion-content>