<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" [fullscreen]="true">

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    
    <ion-icon name="notifications-outline"></ion-icon>

  </ion-fab>
  <br>
  <ion-item>
    <ion-label>Mostrar: Todos mis productos</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>
  <br>

  <!-- <ion-item>
    <ion-label>Hair Color</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown">Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </ion-item> -->

  <!-- <ion-item>
    <ion-label>Toggle</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item> -->
  <ion-item>
    <ion-icon name="card-outline"></ion-icon>
    <ion-label>Cuentas</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Cuenta Aportaciones
      <ion-input value="100000103038" readonly></ion-input>
    </ion-label>
    
    <ion-label slot="end">Balance disponible
      <ion-input slot="end" value="350,00DOP" readonly></ion-input>
    </ion-label>
    
  </ion-item>
  <br>
  <ion-item>
    <ion-icon name="cash-outline"></ion-icon>
    <ion-label>Inversion</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Certificado Financiero
      <ion-input value="100000103038" readonly></ion-input>
    </ion-label>
    
    <ion-label slot="end">Balance disponible
      <ion-input slot="end" value="150,00DOP" readonly></ion-input>
    </ion-label>
    
  </ion-item>
  <br>
  <ion-item>
    <ion-icon name="server-outline"></ion-icon>
    <ion-label>Prestamos</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Prestamo Normal
      <ion-input value="100000103038" readonly></ion-input>
    </ion-label>
    
    <ion-label slot="end">Balance disponible
      <ion-input slot="end" value="250,00DOP" readonly></ion-input>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Prestamo Gerencial
      <ion-input value="100000103038" readonly></ion-input>
    </ion-label>
    <ion-label slot="end">Balance disponible
      <ion-input slot="end" value="150,00DOP" readonly></ion-input>
    </ion-label>
  </ion-item>
  <!-- <ion-item>
    <ion-icon name="person-outline"></ion-icon>
    <ion-input name="user" type="number" placeholder="Cédula"></ion-input>
  </ion-item> -->
  

  <!-- <ion-list>
    <ion-item>
      <ion-label>Note (End)</ion-label>
      <ion-note slot="end">On</ion-note>
    </ion-item>
  
    <ion-item>
      <ion-note slot="start">Off</ion-note>
      <ion-label>Note (Start)</ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>Default Label</ion-label>
    <ion-input value="1234567" readonly></ion-input>
  </ion-item> -->

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="solicitud">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Solicitud</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacto">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Whatsapp">
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-label>Whatsapp</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
