ion-header {
    background: transparent;
    ion-item {
      --background: transparent;
      ion-avatar {
        background: white;
      }
    }
}
  
  ion-content {
    * {
      // font-family: lato;
    }

    ion-grid {
      width: 100%;
      position: absolute;
      ion-slide {  
         
      } 
      ion-row {
        ion-card{
          background: linear-gradient(90deg, var(--ion-color-verde-tint) 10%, var(--ion-color-verde) 100%);
          box-shadow: 0 1px 10px var(--ion-color-light);
          color:white;
          height: 30vh;
          width: 95%;
          ion-text{
            font-size: 30px;
            font-weight: 800;
          }
          .ultimaConexion{
            font-size: 15px;
            font-weight: 300;
          }
          .ultimaConexion2{
            text-align: end;
            margin-top: 14%;
          }
        }
        .opcionesP{
          width: 95%;
        }

        .opciones{
          height: 90%;
          box-shadow: -1px 11px 13px -6px rgb(87, 86, 86);
          border-radius: 10px !important;
          margin: 10px 0;
          ion-thumbnail {
            width: 6vh;
            height: 6vh;
            border-radius: 20px;
            img {
              width: 4vh;
              height: 4vh;
              transform: translateY(50%);
            }
          }
          ion-card-content {
            text-align: center;
            ion-label {
              font-weight: bold;
              text-shadow: 1px 1px 1px var(--ion-color-medium);
              letter-spacing: 0.5px;
            }
          }
        }
        ion-list{
          text-align: center;
          margin: 0 auto;
          margin-top: 18px;
          margin-bottom: 8px;
          width: 95%;
          ion-item{
            border-radius: 30px;
            border: none;
          }
        }
      }
      ion-list {
        background: transparent;
        ion-list-header{
          ion-label{
            color: var(--ion-color-verde);
          }
        }
        
        ion-item {
          width: 95%;
          margin: auto;
          border-radius: 5px;
          margin-bottom: 2vh;
          b{
            color: var(--ion-color-verde);
          }
          p {
            font-size: 0.65rem;
          }
          ion-icon{
            color: var(--ion-color-verde);
          }
          ion-text {
            font-size: 0.90rem;
          }
        }
      }
    }
  }