<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-button fill="clear" slot="start" color="light">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>

    <ion-button fill="clear" slot="end" color="light">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>

  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <div class="main-header"><img src="../../../assets/img/adawel2.jpg" /></div>

  <ion-grid>
    <ion-row>
      <ion-list>
        <ion-chip>
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>Amadis Biloglow</ion-label>
        </ion-chip>
        <br><br>
        <ion-text>Ultima conexion: 20/04/22 9:56:33am</ion-text>
        <br><br>
        <ion-item>
          <ion-label>Mostrar:</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option value="f">Todos mis productos</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </ion-item>
        <br>
      </ion-list>
    </ion-row>

    <ion-list>
      <ion-list-header>
        <ion-label>CUENTAS</ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <ion-icon slot="start" name='card-outline'></ion-icon>
        <ion-label size="large" class="ion-text-wrap">
          <b>Cuenta Aportaciones</b>
          <p>
            10000103038
          </p>
        </ion-label>
        <ion-text slot="end">350,000Dop</ion-text>
      </ion-item>

      <ion-list-header>
        <ion-label>INVERSION</ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <ion-icon slot="start" name='cash-outline'></ion-icon>
        <ion-label size="large" class="ion-text-wrap">
          <b>Certificado Financiero</b>
          <p>
            10000103038
          </p>
        </ion-label>
        <ion-text slot="end">150,000Dop</ion-text>
      </ion-item>

      <ion-list-header>
        <ion-label>PRESTAMOS</ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <ion-icon slot="start" name='server-outline'></ion-icon>
        <ion-label size="large" class="ion-text-wrap">
          <b>Prestamo Normal</b>
          <p>
            10000103038
          </p>
        </ion-label>
        <ion-text slot="end">100,000Dop</ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" name='server-outline'></ion-icon>
        <ion-label size="large" class="ion-text-wrap">
          <b>Prestamo Gerencial</b>
          <p>
            10000103038
          </p>
        </ion-label>
        <ion-text slot="end">50,000Dop</ion-text>
      </ion-item>
    </ion-list>
  </ion-grid>
  <!-- <app-tab></app-tab> -->
</ion-content>

<!-- <app-tab></app-tab> -->