.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lawngreen;
}

.centrado2{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lawngreen;
}

.centrado3{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    margin: 0 auto;
}
.centrado3 .drowlist{
    border-radius: 30px;
    border: none;
}

ion-fab{
    color: lawngreen;
}

ion-fab ion-icon{
    width: 35px;
    height: 35px;
}

ion-item ion-icon{
    color: lawngreen;
}

ion-item .titulos{
    margin-left: 3px;
    font-size: 20px;
    font-weight: 800;
    color: lawngreen;
}
ion-item .subtitulos{
    color: lawngreen;
}

ion-item .subtitulos .subsubtitulos{
    color: #fff;
}