<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="prestamo" *ngFor="let prestamo of multipleArray">

      <ion-card class="principalPrestamo">
        <ion-card-content class="ion-text-left">
          <ion-card-title class="ion-margin-top ion-margin-bottom ion-text-center titulo">{{prestamo.descripcion}}</ion-card-title>
          <ion-row>
            <ion-col col="6">
              <ion-card-subtitle class="ion-margin-top ion-text-center titulo">Fecha Inicio</ion-card-subtitle>
              <ion-card-title class="ion-margin-bottom ion-text-center">{{prestamo.fechaPrestamo}}</ion-card-title>
            </ion-col>
            <ion-col col="6">
              <ion-card-subtitle class="ion-margin-top ion-text-center titulo">Fecha Fin</ion-card-subtitle>
              <ion-card-title class="ion-margin-bottom ion-text-center">{{prestamo.fechaVencimiento}}</ion-card-title>
            </ion-col>
          </ion-row>
          
          <!-- <ion-card-subtitle class="ion-margin-top ion-text-center">Fecha Inicio</ion-card-subtitle>
          <ion-card-title class="ion-margin-bottom ion-text-center">18/09/2019</ion-card-title>
          <ion-card-subtitle class="ion-margin-top ion-text-center">Fecha Fin</ion-card-subtitle>
          <ion-card-title class="ion-margin-bottom ion-text-center">23/05/2025</ion-card-title> -->
        </ion-card-content>
      </ion-card>
      
    </div>

    <div *ngFor="let prestamo of multipleArray" class="container">

      <ion-row>
        <ion-col col="6">
          <h2>Pagos</h2>
        </ion-col>
        <ion-col col="6">
           <ion-fab id="side-button" horizontal="end">
              <ion-fab-button>
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
        </ion-col>
      </ion-row>

     
      
      <!-- <ion-button id="side-button">Mas informacion</ion-button> -->

      <ion-item lines="none">
        <ion-label size="large" class="">
            <b>Pago</b>
            <p>
              89970
            </p>
          </ion-label>
          <ion-label slot="end" size="large" class="ion-text-wrap">
            <b>22 de Abril 2022</b>
            <p>
              <ion-badge color="primary">+{{prestamo.cuota}}</ion-badge>
            </p>
          </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label size="large" class="">
            <b>Pago</b>
            <p>
              89970
            </p>
          </ion-label>
          <ion-label slot="end" size="large" class="ion-text-wrap">
            <b>22 de Abril 2022</b>
            <p>
              <ion-badge color="primary">+{{prestamo.cuota}}</ion-badge>
            </p>
          </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label size="large" class="">
            <b>Pago</b>
            <p>
              89970
            </p>
          </ion-label>
          <ion-label slot="end" size="large" class="ion-text-wrap">
            <b>22 de Abril 2022</b>
            <p>
              <ion-badge color="primary">+{{prestamo.cuota}}</ion-badge>
            </p>
          </ion-label>
      </ion-item>

      <ion-popover trigger="side-button" side="top">
        <ng-template>
          <ion-content>
            <ion-row>
              <ion-col col="6">
                <ion-card-subtitle class="ion-margin-top ion-text-center">Monto Prestamo</ion-card-subtitle>
                <ion-card-title class="ion-margin-bottom ion-text-center">{{prestamo.montoPrestamo}}</ion-card-title>
              </ion-col>
              <ion-col col="6">
                <ion-card-subtitle class="ion-margin-top ion-text-center">Tasa Interes</ion-card-subtitle>
                <ion-card-title class="ion-margin-bottom ion-text-center">{{prestamo.tasaInteres}}</ion-card-title>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col="6">
                <ion-card-subtitle class="ion-margin-top ion-text-center">Monto Seguro</ion-card-subtitle>
                <ion-card-title class="ion-margin-bottom ion-text-center">{{prestamo.montoSeguro}}</ion-card-title>
              </ion-col>
              <ion-col col="6">
                <ion-card-subtitle class="ion-margin-top ion-text-center">Valor Cuota</ion-card-subtitle>
                <ion-card-title class="ion-margin-bottom ion-text-center">{{prestamo.cuota}}</ion-card-title>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col="6">
                <ion-card-subtitle class="ion-margin-top ion-text-center">Consecutivo Cuota</ion-card-subtitle>
                <ion-card-title class="ion-margin-bottom ion-text-center">{{prestamo.consecutivoCuota}}</ion-card-title>
              </ion-col>
              <ion-col col="6">
                <ion-card-subtitle class="ion-margin-top ion-text-center">Balance Prestamo</ion-card-subtitle>
                <ion-card-title class="ion-margin-bottom ion-text-center">{{prestamo.balancePrestamo}}</ion-card-title>
              </ion-col>
            </ion-row>
          </ion-content>
        </ng-template>
      </ion-popover>
       
    </div>

</ion-content>
