.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lawngreen;
}

.centrado2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lawngreen;
}

.centrado3 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    margin: 0 auto;
}

.centrado3 .drowlist {
    border-radius: 30px;
    border: none;
}

ion-fab {
    color: lawngreen;
}

ion-fab ion-icon {
    width: 35px;
    height: 35px;
}

ion-item .titulos {
    margin-left: 3px;
    font-size: 20px;
    font-weight: 800;
}

ion-item .subtitulos {
    color: #fff;
    margin-left: 3px;
}

.Icon-Service {
    justify-content: center;
    margin: block;
    align-items: center;
}

ion-avatar {
    width: 120px;
    height: auto;
}

.carticon {
    font-size: 2rem;
}

.Nombre-Usuario {
    font-size: 20px;
}

.Cargo-Usuario {
    font-size: 16px;
}

.Maps {
    justify-content: center;
    text-align: center;
    display: block;
    margin: auto;
}