<ion-content [fullscreen]="true">
    <div class="contenedor">
        <img src="../../../assets/img/adawel2.jpg" />

    </div>

    <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-menu-button></ion-menu-button>
    </ion-fab>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-icon name="notifications-outline"></ion-icon>
    </ion-fab>

    <br>

    <div class="ion-padding ion-text-center">
        <!--Telefonos-->
        <ion-item>
            <ion-icon name="call-outline"></ion-icon>
            <ion-label class="titulos">Telefonos</ion-label>
        </ion-item>
        <ion-item>
            <ion-label class="subtitulos">WhatsApp
                <ion-input class="subsubtitulos" value="(849) 451-0798" readonly></ion-input>
            </ion-label>

            <ion-label slot="end">Oficina
                <ion-input slot="end" value="(809) 287-2700" readonly></ion-input>
            </ion-label>

        </ion-item>
        <br>
        <!--Redes Sociales-->
        <ion-item>
            <ion-icon name="arrow-redo-circle-outline"></ion-icon>
            <ion-label class="titulos">Redes Sociales</ion-label>
        </ion-item>
        <ion-item>
            <ion-label class="subtitulos">
                <ion-icon class="Icon-Service" name="logo-facebook"></ion-icon>
                <a href="https://www.facebook.com/coopdgii">
                    <ion-label class="subtitulos">Facebook
                    </ion-label>
                </a>
            </ion-label>

            <ion-label class="subtitulos">
                <ion-icon class="Icon-Service" name="logo-youtube"></ion-icon>
                <a href="https://www.youtube.com/channel/UCVkAUVlHsArx1Y1u3ihZa2A/featured">
                    <ion-label class="subtitulos">Youtube
                    </ion-label>
                </a>
            </ion-label>

            <ion-label class="subtitulos">
                <ion-icon class="Icon-Service" name="logo-twitter"></ion-icon>
                <a href="https://twitter.com/coopdgii">
                    <ion-label class="subtitulos">Twitter
                    </ion-label>
                </a>
            </ion-label>
            <ion-label class="subtitulos">
                <ion-icon name="mail-outline"></ion-icon>
                <ion-label class="subtitulos">info@coopdgii.com
                </ion-label>
            </ion-label>

        </ion-item>
        <br>
        <!--Localizacion-->
        <ion-item>
            <ion-icon name="location-outline"></ion-icon>
            <ion-label class="titulos">Localización</ion-label>
        </ion-item>
        <ion-item>
            <ion-label class="subtitulos">
                <p>Av. Pedro Henríquez Ureña #29 Gazcue Santo Domingo República Dominicana</p>
            </ion-label>
        </ion-item>
        <!--FFFFFFF-->

    </div>
</ion-content>