ion-item {
    width: 95%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 2vh;
}

ion-item {
    border-radius: 20px;
    border: 2px solid rgba(201, 201, 201, 0.315);
    margin-bottom: 10px;
    text-align: center;
}

ion-input {
    color: var(--ion-color-amarillo);
}

ion-text {
    color: var(--ion-color-verde);
}

.BUTTON {
    text-align: center;
    align-items: center;
}

.Informacion {
    text-align: center;
    align-items: center;
    ion-text {
        color: var(--ion-color-azu);
        font-size: 20px;
    }
}