<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/formcertificado"></ion-back-button>
        </ion-buttons>
        <ion-title>Resultados de Inversiones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <div class="Informacion">
        <ion-text> <b>Certificado Financiero</b> </ion-text>
    </div>
    <ion-card class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>PLAZO</th>
                    <th>INTERES</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tr *ngFor="let multiple of multipleArray">
                <td>{{multiple.i}} <span>Mes</span></td>
                <td>{{multiple.tazas}} <span>%</span></td>
                <td>{{multiple.total}} <span>RD$</span></td>
            </tr>
        </table>
    </ion-card>
    <br>
    <div class="Informacion">
        <ion-label>Esta información es una proyección, la cual puede variar por diversas razones, tales como: Atraso, pagos incompletos, abonos extraordinarios a capital, entre otras.</ion-label>
    </div>
</ion-content>