//Tabla
table {
    background-color: rgba(255, 255, 255, 0.212);
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

th {
    font-weight: bold;
}

thead {
    background-color: var(--ion-color-verde);
    border-bottom: solid 5px #0F362D;
    color: #63c58c;
    border: #ffffff;
}

tr:hover td {
    background-color: var(--ion-color-amarillo);
    color: #ffffff;
}

ion-text {
    color: var(--ion-color-azul);
    font-size: 20px;
}

.Informacion {
    text-align: center;
    align-items: center;
}

// table Resposive
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 95%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive>.table {
        margin-bottom: 0;
    }
    .table-responsive>.table>thead>tr>th,
    .table-responsive>.table>tbody>tr>th,
    .table-responsive>.table>tfoot>tr>th,
    .table-responsive>.table>thead>tr>td,
    .table-responsive>.table>tbody>tr>td,
    .table-responsive>.table>tfoot>tr>td {
        white-space: nowrap;
    }
}