.logo-login {
    margin-top: 20%;

    ion-img {
        height: 120px;
    }
}

.form {
    margin-top: 20%;

    ion-item {
        border-radius: 15px;
        border: 2px solid rgb(201, 201, 201);
        margin-bottom: 10px;
    }
}