<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" [fullscreen]="true">

  <!-- <ion-card>
    <ion-img src="../../assets/img/Logo-copdgi.png"></ion-img>
  </ion-card> -->

  <div class="logo-login">
    <ion-img src="../../assets/img/Logo-copdgi.png"></ion-img>
  </div>

  <form action="" class="form">

    <ion-list lines="none">

      <ion-item>
        <ion-icon name="id-card-outline"></ion-icon>
        <ion-input name="user" type="number" placeholder="Cédula"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input name="user" type="email" placeholder="Correo Electronico"></ion-input>
      </ion-item>

    </ion-list>

    <ion-button expand="block" type="submit" color="verde">RECUPERAR</ion-button>

  </form>

</ion-content>