<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Videos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Videos</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Historia de nuestra Cooperativa</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <iframe width="100%" height="200px" src="https://www.youtube.com/embed/kbtOr_u8orI"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>COOPDGII Celebra 23 años de logro</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <iframe width="100%" height="200px" src="https://www.youtube.com/embed/Khrf2vaZfoA"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>20 aniversario de tú COOPDGII</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <iframe width="100%" height="200px" src="https://www.youtube.com/embed/4HiPj2zbDT0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Evento central 20 Aniversario COOPDGII</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <iframe width="100%" height="200px" src="https://www.youtube.com/embed/R2OyawdBdHU"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>XVII Asamblea General de Delegados 2021</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <iframe width="100%" height="200px" src="https://www.youtube.com/embed/9tSl408KmkQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </ion-card-content>
    </ion-card>
</ion-content>