<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="solicitud">
    <img src="../../../../assets/img/3d-flame-287.png" alt=""> 
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 

  <div class="container">
    <ion-item lines="none" *ngFor="let item of solicitud">
      <ion-icon slot="start" name='mail-outline'></ion-icon>
      <ion-label size="large" class="ion-text-wrap">
        <b>{{item.titulo}}</b>
        <p>
          {{item.fecha}}
        </p>
      </ion-label>
      <ion-text slot="end" [color]="item.respuesta == Procesada? 'success' : 'danger'">{{item.respuesta}}</ion-text>
    </ion-item>
  </div>
    
  
</ion-content>
