<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar lines="none">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="solicitud">
    <img src="../../../../assets/img/3d-flame-287.png" alt="">
  </div>

  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-button (click)="openSelect()" color="azul">
        Nueva solicitud
        <ion-icon name="add" slot="end"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <div class="container">
    <ion-item lines="none" *ngFor="let solicitud of solicitados">
      <ion-icon slot="start" name='receipt-outline'></ion-icon>
      <ion-label size="large" class="ion-text-wrap">
        <b>{{solicitud.nombre === null ? 'Solicitud' : solicitud.nombre}}</b>
        <p>
          {{solicitud.fecha}}
        </p>
      </ion-label>
      <ion-chip outline [color]="changeColor(solicitud.estado)">
        <ion-icon [name]="changeIcon(solicitud.estado)">
        </ion-icon>
        <ion-label>{{solicitud.estado}}</ion-label>
      </ion-chip>
    </ion-item>
  </div>


</ion-content>