<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Solicitar Servicio</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="canDismiss()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list lines="full" class="ion-no-margin">
        <ion-list-header>
            <ion-label>{{nombre}}</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-input placeholder="....." clearInput type="text" name="nom">
                <!-- //[(ngModel)]="nombre" -->
            </ion-input>
        </ion-item>

        <!-- <ion-item>
            <ion-label>Latitud</ion-label>
            <ion-input placeholder=" 19.801154158829164" type="number" [(ngModel)]="latitud" name="lat"></ion-input>
        </ion-item> -->

        <div class="btn-solicitar" style="text-align: center !important;">
            <ion-button shape="round" (click)="solicitar()" class="center" color="verde">
                Solicitar
                <ion-icon slot="end" name="duplicate-outline"></ion-icon>
            </ion-button>
        </div>
    </ion-list>

</ion-content>