ion-list {
    background: transparent;
    ion-list-header {
        ion-label {
            color: var(--ion-color-verde);
        }
    }
    ion-item {
        ion-label {
            color: var(--ion-color-verde);
        }
        ion-icon {
            color: var(--ion-color-verde);
        }
    }
}

ion-grid {
    background: transparent;
    ion-list-header {
        ion-label {
            color: var(--ion-color-verde);
        }
    }
    ion-col {
        width: 95%;
        margin: auto;
        border-radius: 5px;
        margin-bottom: 2vh;
        ion-label {
            color: var(--ion-color-verde);
        }
        ion-icon {
            color: var(--ion-color-verde);
        }
        ion-text {
            font-size: 0.90rem;
        }
    }
}